# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: quay.io/mittwald/kube-mail
  tag: latest
  pullPolicy: Always
rbac:
  enabled: true
podSecurityContext:
  enabled: false
  fsGroup: 1001
containerSecurityContext:
  enabled: false
  runAsUser: 1001
  runAsNonRoot: true
smtp:
  service:
    externalPort: 25
    internalPort: 1025
service:
  name: kube-mail
  type: ClusterIP
watcher:
  emailPolicyInformer:
    selector: {}
      #foo: bar
      #bar: foo
  podInformer:
    selector: {}
      #foo: bar
      #bar: foo
prometheus:
  enabled: true
  metricsPort: 9100
  serviceMonitor:
    enabled: false
    additionalLabels: {}
  alerting:
    enabled: false
    additionalLabels: {}
    rules:
      KubeMailForwardErrorsByPolicy: &commonWarningAlertSettings
        enabled: true
        labels:
          severity: warning
      KubeMailForwardErrorsByServer: *commonWarningAlertSettings
      KubeMailRejectedNoPolicy: *commonWarningAlertSettings
      KubeMailRejectedRatelimit: *commonWarningAlertSettings

      KubeMailForwardErrors: &commonCriticalAlertSettings
        enabled: true
        labels:
          severity: critical
      KubeMailRejectedNoPod: *commonCriticalAlertSettings

  # networkPolicyIngress:
  #   - namespaceSelector:
  #       matchLabels:
  #         kubernetes.io/metadata.name: monitoring
extraVolumeMounts: []
extraVolumes: []
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi
redis:
  sentinel:
    enabled: true
  usePassword: false
  networkPolicy:
    enabled: true
    allowExternal: false
