name: Create release

on:
  push:
    tags:
      - '*'

env:
  IMAGE_NAME: quay.io/mittwald/kube-mail
  REGISTRY_URL: quay.io

jobs:
  deploytagged:
    name: Deploy Helm chart
    runs-on: ubuntu-latest
    if: github.repository == 'mittwald/kube-mail'
    steps:
      - name: Docker registry login
        run: docker login -u "${{ secrets.QUAY_IO_USER }}" -p "${{ secrets.QUAY_IO_TOKEN }}" "${REGISTRY_URL}"

      - uses: actions/checkout@v2

      - name: Build docker image
        run: docker build -t "$IMAGE_NAME:latest" .

      - name: Tag latest docker image
        run: docker tag "$IMAGE_NAME:latest" "$IMAGE_NAME:${GITHUB_REF##*/}"

      - name: Push images
        run: docker push "$IMAGE_NAME:latest" && docker push "$IMAGE_NAME:${GITHUB_REF##*/}"

      - name: Run chart version bump
        uses: mittwald/bump-app-version-action@v0.2.0
        with:
          mode: 'publish'
          chartYaml: './deploy/helm-chart/kube-mail/Chart.yaml'
        env:
          GITHUB_TOKEN: "${{ secrets.RELEASE_USER_TOKEN }}"
